html,.container-fluid {
    background-color: #4D5FB3;
}


.portfolio-left{
    background-color: #ED47FF	;
    font-family: 'Source Code Pro', monospace;
    color:white;
    font-size: 1rem;
}

.portf-pic{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105%;
    height: 20vw;
    background-image: url("../img/portfolio.jpg");
}

.name-row h1{
    font-size: 1.8rem;
}

.name-row h4{
    color: rgba(0, 0, 0, 0.5);
}


.fa.contact-icon{
    border-radius: 50%;
    background-color: white;
    color: #ED47FF;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;

}


.info-row,.info-row span{
    padding-top: 10px;
    padding-bottom: 5px;
}

.portfolio-right{
    background-color: white;
}

.title-row h2{
    color:#ED47FF;
    font-size: 1.8rem;
}

.title-row h1{
    color: #ED47FF;
    font-size: 2.2rem;
}

.highlight{
    color: #ED47FF;
}

.portfolio-right ul{
    list-style: none;
    position:relative;
}

.portfolio-right ul li{
    position: relative;
}

.portfolio-right ul li::before{
content: "";
position: absolute;
top: 8px;
left: -15px;
width: 8px;
height: 8px;
border-radius: 50%;
border: 2px solid #ED47FF;
}
.portfolio-right ul li::after{
content: "";
    position: absolute;
    top: 15px;
    left: -12px;
    width: 2px;
    height: 18px;
    background: #ED47FF;
}